
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="fb:pages" content="1516911651916541" />

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/nwmatcher/1.2.5/nwmatcher.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
    <![endif]-->

    <!-- External webfonts -->
    <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <!-- Page title + metadata -->
    <title>{{ page.title }} - The Human Utility</title>
    <meta name="description" content="The Human Utilty helps low income and elderly families with their water bills.">
    <meta name="author" content="">
    <meta name="twitter:site" content="@humanutility" />
    <meta property="twitter:account_id" content="3471901" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ page.profile_img }}" />
    <meta name="twitter:image:alt" content="{{ page.caption }}" />
    <meta name="twitter:domain" content="humanutility.org">

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="1615115935182740" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:url" content="http://humanutility.github.io{{ page.url }}" />
    <meta property="og:site_name" content="The Human Utility" />
    <meta property="og:image" content="{{ page.profile_img }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="57x57" href="https://www.detroitwaterproject.org/assets/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://www.detroitwaterproject.org/assets/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://www.detroitwaterproject.org/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://www.detroitwaterproject.org/assets/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://www.detroitwaterproject.org/assets/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://www.detroitwaterproject.org/assets/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://www.detroitwaterproject.org/assets/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://www.detroitwaterproject.org/assets/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.detroitwaterproject.org/assets/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="https://www.detroitwaterproject.org/assets/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.detroitwaterproject.org/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://www.detroitwaterproject.org/assets/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.detroitwaterproject.org/assets/favicon-16x16.png">
    <link rel="manifest" href="https://www.detroitwaterproject.org/assets/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://www.detroitwaterproject.org/assets/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v2/"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1615115935182740');
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1" src="https://www.facebook.com/tr?id=1615115935182740&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1615115935182740',
          xfbml      : true,
          version    : 'v2.8'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  </head>

  <body class="page-content">
    <style type="text/css">
      .shadows {
        text-shadow: 1px 1px #212529;
      }
    </style>

    <div class="jumbotron jumbotron-fluid img-fluid" style="margin-top: -45px; position: relative; background-color: #fff; background-image: url('https://www.detroitwaterproject.org/assets/happykid.jpg'); background-position: center center; background-size: cover; max-width: 100%; height: auto;">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <span style="margin-top: 45px;">
            <a class="navbar-brand" style="margin-left: -15px;" href="https://www.detroitwaterproject.org/?ref=logo"><img alt="The Human Utility logo" title="The Human Utility logo" src="https://d1hb0md5k97kb0.cloudfront.net/assets/white-hu-logo-017ef416cb100ffd9abeae3102a5662155b2a4c3648cf0005cdb10427f67ffd1.png" width="220" height="100" /></a>
          </span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav my-2 my-lg-0" style="margin-left: -10px;">
              <li class="nav-item">
                <a class="btn btn-outline-light" href="https://www.detroitwaterproject.org/thetap?ref=stories">Give Monthly</a>&nbsp;&nbsp;
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-light" href="https://www.detroitwaterproject.org/birthday?ref=stories">Pledge Your Birthday</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="header clearfix">
          <br /><br /><br />
          <div class="row">
            <div class="col-md-12">
              <h1 class="display-3 shadows" style="color: #fff;">Everyone needs running water</h1>
              <p class="lead shadows" style="color: #fff;">
                Since July 2014, people like you have helped nearly 1,000 families in Detroit, Baltimore, and surrounding areas with their water bills.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row marketing">
        <div class="col-lg-8">
          <div class="site-wrapper">
            <main class="site-content" role="main">
              <section class="article">
                <div class="article-questions">
                  <h1>{{ page.title }}</h1>
                  {{ page.byline }}
                  {{ content }}
                  <hr />
                  <div>
                    <a class="btn btn-success" href="https://www.detroitwaterproject.org/#give"><i class="fa fa-hand-holding-heart"></i>&nbsp;&nbsp;Donate once</a>&nbsp;&nbsp;
                    <a class="btn btn-success" href="https://www.detroitwaterproject.org/thetap"><i class="fa fa-hand-holding-heart"></i>&nbsp;&nbsp;Donate monthly</a>
                  </div>
                  <hr />

                  <div class="col-md-4">
                    <div class="col-md-1" style="margin-bottom: 5px;">
                      <div class="fb-like" data-href="http://humanutility.github.io{{ page.url }}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
                    </div>
                    <div class="col-md-1">
                      <div><a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="{{ page.title }}" data-url="http://humanutility.github.io{{ page.url }}" data-via="humanutility" data-hashtags="water" data-related="humanutility" data-show-count="true">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
                    </div>
                  </div>
                </div>
              </section>
            </main><!-- end .site-content -->
          </div><!-- end .site-wrapper -->
        </div>
      </div>

      <hr />

      <footer class="footer">
        <div class="row">
          <div class="col-md-4">
            <p>
              <a href="http://medium.com/the-human-utility-blog" target="_blank">
                <i class="fab fa-medium-m" data-fa-transform="grow-6"></i>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://twitter.com/humanutility" target="_blank">
                <i class="fab fa-twitter" data-fa-transform="grow-6"></i>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://www.facebook.com/thehumanutility" target="_blank">
                <i class="fab fa-facebook-f" data-fa-transform="grow-6"></i>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="https://www.youtube.com/channel/UCcm4t4Sxba5hUuLiqBFDtgA" target="_blank">
                <i class="fab fa-youtube" data-fa-transform="grow-6"></i>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="https://www.linkedin.com/company/thehumanutility/" target="_blank">
                <i class="fab fa-linkedin-in" data-fa-transform="grow-6"></i>
              </a>
            </p>
          </div>
          <div class="col-md-4">
            <h5>Learn more</h5>
            <p>
              <a href="https://www.detroitwaterproject.org/about">About Us</a><br />
              <a href="https://www.detroitwaterproject.org/why">Why This Work Matters</a><br />
              <a href="https://www.detroitwaterproject.org/faqs">Read the FAQs</a><br />
              <a href="https://www.detroitwaterproject.org/press">Media &amp; press information</a><br />
              <a href="https://www.detroitwaterproject.org/terms">Terms &amp; Disclaimer</a><br />
            </p>
          </div>
          <div class="col-md-4">
            <p>
              The Human Utility is supported in part by <a href="http://twitter.com/sama">Sam Altman</a>,
              <a href="http://twitter.com/paultoo">Paul Buchheit</a>, <a href="http://twitter.com/stewart">Stewart Butterfield</a>,
              <a href="http://twitter.com/levie">Aaron Levie</a>,
              <a href="http://twitter.com/jesslivingston">Jessica Livingston</a>,
              <a href="https://twitter.com/hunterwalk">Hunter Walk</a>, <a href="http://www.continuations.com">Albert Wenger</a>, <a href="http://github.com">GitHub</a>,
              <a href="http://shuttleworthfoundation.org">Shuttleworth Foundation</a>, <a href="http://teespring.com">TeeSpring</a>,
              and <a href="http://ycombinator.com" target="_blank">Y Combinator</a>.<br />
            </p>
            <p>
              Want to get in touch? <strong>info@detroitwaterproject.org</strong>
            </p>
            <p>
              Need our <a href="https://www.detroitwaterproject.org/faqs#mailing-address">mailing address</a>?
            </p>
            <p class="small">
              &copy; {{ site.time | date: '%Y' }}. The Human Utility, Inc. Fiscally sponsored
              by <a href="http://www.socialgoodfund.org/" target="_blank">Social Good Fund</a>, an IRS 501c3 nonprofit. (EIN #46-1323531)<br />
            </p><br /><br /><br />
          </div>
        </footer>
      </div>

      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1615115935182740&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>

      <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
        mixpanel.init("9e00fb0ff94562fee81065a567a01716");
      </script>

      <script defer src="https://pro.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-d84LGg2pm9KhR4mCAs3N29GQ4OYNy+K+FBHX8WhimHpPm86c839++MDABegrZ3gn" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-97944451-1', 'auto');
        ga('send', 'pageview');
      </script>
    </body>
</html>
