
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/nwmatcher/1.2.5/nwmatcher.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
    <![endif]-->

    <!-- External webfonts -->
    <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" media="screen" href="https://d1hb0md5k97kb0.cloudfront.net/assets/new-16d516d87d1ab9f83937085f785db83657998259b85478db0b31a6ca314cc42d.css" data-turbolinks-track="true" />

    <!-- Page title + metadata -->
    <title>The Human Utility - {{ page.title }}</title>
    <meta name="description" content="The Human Utilty ensures low-income and elderly families needing help with water bills get it.">
    <meta name="author" content="">
    <meta property="twitter:account_id" content="3471901" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Help a family with their water bill!">
    <meta name="twitter:description" content="The Human Utility ensures low-income and elderly families needing help with water bills get it.">
    <meta name="twitter:domain" content="humanutility.org">

    <meta property="og:title" content="The Human Utility - Help w/a water bill" />
    <meta property="fb:app_id" content="262944590572795" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="The Human Utilty ensures low-income and elderly families needing help with water bills get it." />
    <meta property="og:url" content="http://detroitwaterproject.org" />
    <meta property="og:site_name" content="The Human Utility" />
    <meta property="og:image" content="https://d1hb0md5k97kb0.cloudfront.net/assets/new/family-crush-9b389075ff37446b12bbc370b9963b7d2dc79da6cf51fcce0de7dc8f1c18fb66.jpg" />

    <style>
      .credits, .credits:visited {
        color: white;
      }

      .person-helped {
        float: left;
        padding-top: 15px;
        margin-left: -165px;
        margin-right: 65px;
        margin-bottom: 20px;
        max-width: 350px;
      }

      @media screen and (max-width: 692px) {
        .person-helped {
          float: none;
          margin-left: 0;
          margin-right: 0;
        }
      }

      .article-questions {
        font-size: 21px;
        line-height: 1.58;
        color: rgba(0,0,0,.8);
      }

      .floated {
        float: left;
        width: 150px;
        background-color: red;
      }

      .page-content .article-questions {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
      }

      hr {
        background: url(https://amydaniewicz.com/wp-content/themes/premium/watson/images/hr.svg) center no-repeat;
        border: none;
        height: 5px;
        clear: both;
        margin: 36px 0;
      }
    </style>
    <!-- Facebook Conversion Code for Page visits! -->
    <script>
      (function() {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
          var fbds = document.createElement('script');
          fbds.async = true;
          fbds.src = '//connect.facebook.net/en_US/fbds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(fbds, s);
          _fbq.loaded = true;
        }
      })();

      window._fbq = window._fbq || [];
      window._fbq.push(['track', '6023524387897', {'value':'0.00','currency':'USD'}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6023524387897&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
  </head>

  <body class="page-content">
    <!-- Header -->
    <header class="global-header">
      <div class="logo">
        <a href="/">
          <p>The <span class="text-color-primary">Human</span> Utility</p>
        </a>
      </div>
      <nav class="nav">
        <ul>
          <li class="nav-item"><a href="/#how" class="">How to Help</a></li>
          <li class="nav-item"><a href="https://www.detroitwaterproject.org/detroit/people/new">Get Assistance</a></li>
          <li class="nav-item nav-item--no-collapse"><a href="/#donate" class="button button-small">Donate</a></li>
        </ul>
      </nav>
    </header><!-- /end .global-header -->

    <div class="site-wrapper">
      <main class="site-content" role="main">
        <section class="article">
          <div class="article-questions">
            <h1>{{ page.title }}</h1>
            <figure class="person-helped">
              <img src="https://cdn-images-1.medium.com/max/1200/1*1iPx_3-Xnvy40DbW9tjXgg.jpeg">
              <figcaption style="text-align: center;">{{ page.caption }}</figcaption>
            </figure>
            {{ content }}
            <hr />
              <div style="text-align: center;">
                <a href="https://www.detroitwaterproject.org/#donate" class="button button-small" style="font-size: 18pt;">
                  Contribute
                </a>
              </div>
            <hr />
            <p>
              <strong><a href="http://detroitwaterproject.org/?ref=github">The Human Utility</a></strong>, a not-for-profit organization founded in 2014, is dedicated to helping low-income families and seniors in the United States pay their water bills to restore or preserve their service. Through our website, we match donors to families for support. With donations from $5 to $5000 we have helped over 950 families get their water turned back on. <strong><a href="https://www.detroitwaterproject.org/#donate">Give today</a></strong>. Every drop in the bucket makes a difference!
            </p><br /><br />
            <div class="col-md-4">
              <div class="col-md-1" style="margin-bottom: 5px;">
                <div class="fb-share-button" data-href="http://humanutility.github.io/loria-detroit" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fhumanutility.github.io%2Floria-detroit&amp;src=sdkpreparse">Share</a></div>
              </div>
              <div class="col-md-1">
                <div><a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Read the story of the first person The @HumanUtility helped w/ a water bill." data-url="http://humanutility.github.io/loria-detroit/" data-via="humanutility" data-hashtags="detroit" data-related="humanutility" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
              </div>
            </div>
          </div>
        </section>
      </main><!-- end .site-content -->
    </div><!-- end .site-wrapper -->

    <footer class="global-footer site-section">
      <div class="width-one-whole">
        <div class="logo"><p>The <span class="text-color-primary">Human</span> Utility</p></div>
      </div>
      <div class="width-one-third">
        <ul class="global-footer-links">
          <li class="global-footer-link--header">Take Action</li>
          <li><a href="https://www.detroitwaterproject.org/detroit/people/new">Get help paying your water bill</a></li>
          <li><a href="/#donate">Help a family pay a water bill</a></li>
          <li class="global-footer-link--header">Raise Your Voice</li>
          <li><a href="http://twitter.com/search?q=http%3A%2F%2Fhumanutility.org">Share #TheHumanUtility on Twitter</a></li>
          <li><a href="http://facebook.com/thehumanutility">Like The Human Utility on Facebook</a></li>
        </ul>
      </div>
      <div class="width-one-third">
        <ul class="global-footer-links">
          <li class="global-footer-link--header">Learn more</li>
          <li><a href="https://www.detroitwaterproject.org/detroit/faqs">Read the FAQ</a></li>
          <li><a href="https://www.detroitwaterproject.org/detroit/press">Media and press information</a></li>
          <li><a href="https://www.detroitwaterproject.org/terms">Terms</a></li>
        </ul>
      </div>
      <div class="width-one-third end-row">
        <p class="text-smaller">Copyright &copy; 2014-2016. The Conscientious Utility Project, Inc.<br />All rights reserved. Fiscally sponsored by the Social Good Fund, an IRS 501(c)(3) nonprofit. (EIN #46-1323531)</p>
        <p class="text-smaller">We are generously supported by <a class="credits" target="_blank" href="http://ycombinator.com">Y Combinator</a>, <a class="credits" target="_blank" href="http://teespring.com">TeeSpring</a>, <a class="credits" target="_blank" href="http://twitter.com/paultoo">Paul Buchheit</a>, <a class="credits" target="_blank" href="http://www.continuations.com">Albert Wenger</a>, and the <a class="credits" target="_blank" href="http://shuttleworthfoundation.org">Shuttleworth Foundation</a>.</p>
      </div>
      <div class="width-two-thirds">
      </div>
    </footer><!-- /end .global-footer -->

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=262944590572795&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
    mixpanel.init("9e00fb0ff94562fee81065a567a01716");</script>
  </body>
</html>
